<!DOCTYPE html>

<html lang="en">
  <head>
     <title>Thank You!!</title>
  </head>
  <body>
 <link rel="stylesheet" href="../static/style.css">
    <div class="success">
      <img src="../static/M.S.-51-Logo.png" alt="My School" width="150" height="100" class="logo" />


      <h1><center>Thank You!</center></h1>
      <h2><center>Thank you for rating my project. I look forward to reading my strengths and improve on my areas of need. Please view my project in a few days and rate me once again! </center></h2>

    </div>
  </body>
</html>